<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include("../snippets/head") %>
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">Lernplattform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active">Hauptseite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/test/">Iwo anders</a>
            </li>
        </ul>
    </div>
    <span data-display="username" class="navbar-text" style="margin-right: 10px">
        <%= user.username %>
    </span>
    <form class="form-inline">
        <a class="btn btn-dark" type="button" href="/logout">Ausloggen</a>
    </form>
</nav>

<div class="container">
    <h1> Willkommen <%= user.username %></h1>
    <h3>Ihre Kurse</h3>
    <div class="row">
        <% if (courses.length > 0) {%>
            <div class="col-lg-6">
                <div class="list-group">
                    <% for(var i=0; i<courses.length; i++) {%>
                        <a href="/course/<%= courses[i].coursename %>" class="list-group-item list-group-item-action">
                            <%= courses[i].coursename %>
                        </a>
                    <% } %>
                </div>
            </div>
        <% } %>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/course">
                        <div class="form-group">
                            <label for="coursename">Titel</label>
                            <input class="form-control" type="text" id="coursename" name="coursename" placeholder="Titel"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Beschreibung</label>
                            <textarea class="form-control" type="textfield" id="description" name="description" placeholder="Beschreibung"></textarea>
                        </div>
                        <button class="btn btn-primary" id="saveCourse">Kurs anlegen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    $(function(){

    });
</script>
</html>